<div class="row">
  <div class="col-sm-6 mx-auto pt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Welcome To EventHub</h5>
        <p class="card-text">Social Media Platform For Events</p>
      </div>
    </div>
  </div>
